:root {
    --bg-rgb: 17, 17, 17;
    --on-bg-rgb: 251, 251, 251;
    --primary-rgb: 134, 128, 194;
    --on-primary-rgb: 251, 251, 251;
    --bg: rgb(var(--bg-rgb));
    --on-bg: rgb(var(--on-bg-rgb));
    --primary: rgb(var(--primary-rgb));
    --on-primary: rgb(var(--on-primary-rgb));

    --fade-alpha: 0.2;
    --mute-alpha: 0.5;
    
    --bg-fade: rgba(var(--bg-rgb), var(--fade-alpha));
    --on-bg-fade: rgba(var(--on-bg-rgb), var(--fade-alpha));
    --primary-fade: rgba(var(--primary-rgb), var(--fade-alpha));
    --on-primary-fade: rgba(var(--on-primary-rgb), var(--fade-alpha));

    --bg-muted: rgba(var(--bg-rgb), var(--mute-alpha));
    --on-bg-muted: rgba(var(--on-bg-rgb), var(--mute-alpha));
    --primary-muted: rgba(var(--primary-rgb), var(--mute-alpha));
    --on-primary-muted: rgba(var(--on-primary-rgb), var(--mute-alpha));

    --paper-texture-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence baseFrequency='.4' numOctaves='3' stitchTiles='stitch' type='fractalNoise'/%3E%3CfeDropShadow dx='0' dy='0' flood-color='%23888' flood-opacity='.5' stdDeviation='1'/%3E%3CfeColorMatrix values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.1 0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    --white-glow: rgba(251,251,251,var(--mute-alpha));
    --shadow: rgba(17,17,17,var(--fade-alpha))

}

@media (prefers-color-scheme: light) {
    :root {
        --bg-rgb: 251, 251, 251;
        --on-bg-rgb: 17, 17, 17;
        --mute-alpha: 0.6;
        --primary-rgb: 90, 83, 172;
        --paper-texture-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence baseFrequency='.4' numOctaves='3' stitchTiles='stitch' type='fractalNoise'/%3E%3CfeDropShadow dx='0' dy='0' flood-color='%23888' flood-opacity='.5' stdDeviation='1'/%3E%3CfeColorMatrix values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.275 0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E")
    }

    img[src="assets/img/pronouns-icon-he-white-16px.svg"] {
        filter: invert()
    }
}

* {
    box-sizing: border-box;
}

html { 
    background-color: var(--bg);
    color: var(--on-bg);
}

a { 
    color: var(--primary); 
    text-decoration: none;
}

.small {
    font-size: smaller
}

.p-name, .p-nickname {
    color: var(--on-bg);
    text-shadow: 0 0 0.5em var(--primary-muted),
    0 0 0.25em var(--white-glow);
}

.p-note {
    text-align: center;
}

.muted {
    opacity: var(--mute-alpha);
}

a:hover {
    text-decoration: underline;
}

body {
    line-height: 1.6;
    font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 2em;
    height: 100%;
    overflow-wrap: break-word;
    /* min-height: 90vh; */
}


h1,h2,h3 {
    margin-block-end: 0em;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

p:last-child {
    margin-block-end: 0;
}

article, div.h-card, .card {
    display: block;
    max-width: 42em;
    border-radius: 1em;
    margin: 3em auto;
    padding: 2em;
    background-color: var(--bg);
    background-image: var(--paper-texture-svg);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
}

article, .card:not(.main) {
    flex-direction: column;
    gap: unset;
    align-items: start;
    box-shadow: 1px 2px 0.5em 1px var(--shadow);
}

a.h-card {
    text-decoration: none;
    color: inherit;
}

div.h-card>*, .card>*{
    flex: 1;
    min-width: 17em;
    text-align: left;
}
div.h-card>*:first-child, .card.main>*:first-child {
    text-align: center;
    /* border-right: solid 1px #888; */
}

div.h-card::before, div.h-card::after, .glow::before, .glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e200fb, #461036, #9100ff,#bf72f0, #5600ff, #e000fb, #5d1489, #7c519d,#730275, #934eaf);
    background-size: 300%;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    z-index: -1;
    animation: glow 30s linear infinite;
    border-radius: 1em;
}

div.h-card:after, .glow::after {
    filter: blur(50px);
}

li[class^="fa-"] {
    list-style: none;
    margin-left:-40px;
}

div.h-card>nav>ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
    padding:0;
}

div.h-card>nav li {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

div.h-card>nav li>i {
    min-width:20px;
}

li::before, h3::before {
    min-width: 1.5em;
    text-align:center;
    padding-right:0.5em;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-weight: 600;
}

@keyframes glow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

hr {
    border: 0;
    margin: 1.35em auto;
    width: 100%;
    background-position: 50%;
    box-sizing: border-box;

    border-width: 0 0 1px;
    --color: var(--primary-rgb);
    color: rgb(var(--color));
    border-image: linear-gradient(
        90deg,
        rgba(var(--color), 0),
        rgba(var(--color), 1) calc(50% - 1em),
        rgba(var(--color), 0) calc(50% - 1em),
        rgba(var(--color), 0) calc(50% + 1em),
        rgba(var(--color), 1) calc(50% + 1em),
        rgba(var(--color), 0) 100%) 0 0 100%;
    border-style: solid;
}

hr::after {
    content: 'Ω';
    display: inline-block;
    line-height: 1px;
    height: 1px;
    width: 1em;
    text-align: center;
    position:absolute;
    left: calc(50% - 0.5em);
  }

img.u-photo { 
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    box-shadow: 0 0 1em 1px  var(--primary-muted), 0 0 0.5em 1px var(--white-glow);
}

img.u-featured { 
    display:block;
    z-index:0;
    margin-bottom:-125px
}

button.icon-button {
    line-height: 24px;
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    border-radius:4px;
    font-family: inherit;
}
button.icon-button>img {
    max-height: 24px;
    vertical-align: bottom;
}

.button-input-container>label{
    display:block;
}
.button-input-container>input,
.button-input-container>button{
    background-color: var(--primary);
    color:var(--on-primary);
    border:none;
    border-radius: 4px;
}
.button-input-container>input,
.button-input-container>input:focus {
    border:none;
    padding: 4px 66px 4px 6px;
    margin-right: -60px;
}

.button-input-container>button{
    border-radius: 4px;
    border-color: var(--on-primary);
}
i>img{
    max-height: 1em;
    vertical-align: middle;
}
img.icon {
    max-height: 17px;
    min-height: 17px;
}

img.small-avatar {
    max-height: 40px;
}

span[title] {
    border-bottom: 1px dotted var(--on-bg-muted);
    cursor: help;
}
  
span[title]:hover::after {
    content: ' (' attr(title) ')';
    font-size: 0.8em;
    opacity: 50%;
}



.personal::before {
    display: inline-block;
    height: 1em;
    width: 18px;
    margin-right: 0.5em;
    content: '';
    background-image: url('/assets/img/2024-avatar-tt-min.svg')
}


.aerion::before {
    display: inline-block;
    height: 1em;
    width: 20px;
    margin-right: 0.5em;
    content: '';
    background-image: url('/assets/img/aerion.svg')
}

.obsidian-plugin::before {
    display: inline-block;
    height: 1em;
    width: 20px;
    margin-right: 0.5em;
    content: '';
    background-image: url('/assets/img/obsidian-plugin.svg')
}

.obsidian-theme::before {
    display: inline-block;
    height: 1em;
    width: 22px;
    margin-right: 0.5em;
    content: '';
    background-image: url('/assets/img/obsidian-theme.svg')
}

img.featured {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

details>summary::after{
    content: 'more...';
    padding-left:1em;
    opacity: var(--mute-alpha);
    font-size: smaller;
}

details[open] > summary::after {
    content: 'less'
}