<span class="follow-button">
  <button class="icon-button button-input"
    data-instruction="Please enter your fediverse / mastodon handle (e.g. '@user@domain.social')" 
    data-placeholder="@user@domain.social"
    data-success="Thanks for the follow!"
    onsubmit="handleFollow(event.value)">
    <img src="/assets/img/Fediverse_logo_proposal.svg" alt="Fediverse logo">
    Follow @death.au@monrepos.casa
  </button>
</span>