img.u-featured {
  display:block;
  z-index:0;
  margin-bottom:-125px
}

i>a {
  color: inherit;
}

div.reply{
  border-left: 2px solid var(--primary);
  padding: 0 1em;
}

header.h-card.p-author {
  display:block;
  width:100%;
  margin-bottom: 1em;
}

header.h-card.p-author > a {
  display:block;
  line-height: 1.3em;
}

header.h-card.p-author img {
  float:left;
  margin-right:1em;
}

article>div {
  max-width: 100%;
}

[title="permalink"]:hover::after {
  content: "\f0c1";
  font-size: 0.6em;
  font-family: var(--fa-style-family-classic);
  font-weight: var(--fa-style,900);
  display: var(--fa-display,inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

[title="Boosted"], [title="Replied"] {
  float:left;
  margin-right:1em;
}

.post-list .content {
  max-height: 14em;
  overflow: hidden;
  position:relative;
}

.post-list .content::after {
  content:'';
  position: absolute;
  left:0;
  top: 11em;
  right: 0;
  height: 3em;
  background-color: var(--bg);
  background-image: var(--paper-texture-svg);
  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}