{% from "macro-author.njk" import authorMacro %}
{% macro cardHeadMacro(author, date, url) %}
<div class="card-head">
  <a class="u-url permalink" rel="bookmark" href="{{ url }}" >
    <time class="dt-published" datetime="{{ date | dateISOString }}">{{ date | formatDate }}</time>
  </a>
  {{ authorMacro(author) }}
</div>
{% endmacro %}