{% if pagination %}
<nav>
    <ul class="pagination" role="list">
        <li><a href="{{ pagination.href.first }}" rel="first" title="First Page">«</a></li>
        <li><a href="{{ pagination.href.previous if pagination.href.previous else "#" }}" class="{{ '' if pagination.href.previous else 'disabled' }}" rel="prev" title="Previous Page">‹</a></li>

        {%- for pageEntry in pagination.pages %}
        <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" class="active" title="Current Page" {% else %} title="Jump to Page {{ loop.index }}" {% endif %}>{{ loop.index }}</a></li>
        {%- endfor %}

        <li><a href="{{ pagination.href.next if pagination.href.next else "#" }}" class="{{ '' if pagination.href.next else 'disabled' }}" rel="next" title="Next Page">›</a></li>
        <li><a href="{{ pagination.href.last }}" rel="last" title="Last Page">»</a></li>
    </ul>
</nav>
{% endif %}