:root {
  --font-stack: Rubik, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

  /* dark theme */
  --dark-bg: #111111;
  --dark-on-bg: rgb(251, 251, 251);
  --dark-primary: rgb(134, 128, 194);
  --dark-on-primary: var(--dark-on-bg);
  --dark-mute-alpha: 0.5;
  --dark-fade-alpha: 0.2;
  
  /* light theme */
  --light-bg: #fbfbfb;
  --light-on-bg: rgb(17, 17, 17);
  --light-primary: rgb(90, 83, 172);
  --light-on-primary: rgb(251, 251, 251);
  --light-mute-alpha: 0.6;
  --light-fade-alpha: 0.2;

  /* the actual theme (don't need to edit this) */
  --bg: color-mix(in srgb, var(--dark-bg) var(--dark-theme), var(--light-bg) var(--light-theme));
  --on-bg: color-mix(in srgb, var(--dark-on-bg) var(--dark-theme), var(--light-on-bg) var(--light-theme));
  --primary: color-mix(in srgb, var(--dark-primary) var(--dark-theme), var(--light-primary) var(--light-theme));
  --on-primary: color-mix(in srgb, var(--dark-on-primary) var(--dark-theme), var(--light-on-primary) var(--light-theme));
  --mute-alpha: calc(calc(var(--dark-mute-alpha) * var(--dark-theme)) + calc(var(--light-mute-alpha) * var(--light-theme)));
  --fade-alpha: calc(calc(var(--dark-fade-alpha) * var(--dark-theme)) + calc(var(--light-fade-alpha) * var(--light-theme)));
  
  /* adjustments */
  --bg-muted: color-mix(in srgb, transparent, var(--bg) var(--mute-alpha));
  --on-bg-muted: color-mix(in srgb, transparent, var(--on-bg) var(--mute-alpha));
  --primary-muted: color-mix(in srgb, transparent, var(--primary) var(--mute-alpha));
  --on-primary-muted: color-mix(in srgb, transparent, var(--on-primary) var(--mute-alpha));
  --bg-fade: color-mix(in srgb, transparent, var(--bg) var(--fade-alpha));
  --on-bg-fade: color-mix(in srgb, transparent, var(--on-bg) var(--fade-alpha));
  --primary-fade: color-mix(in srgb, transparent, var(--primary) var(--fade-alpha));
  --on-primary-fade: color-mix(in srgb, transparent, var(--on-primary) var(--fade-alpha));
  
  /* misc */
  --white-glow: rgba(251,251,251,var(--mute-alpha));
  --shadow: rgba(17,17,17,var(--fade-alpha));
  --neon-glow-gradient: linear-gradient(45deg, #e200fb, #461036, #9100ff,#bf72f0, #5600ff, #e000fb, #5d1489, #7c519d,#730275, #934eaf);
  --paper-texture-svg: #{$paper-texture-svg};
  
  --transition: .4s;

}

/* switching values for themes */
:root {
  --dark-theme: 0%;
  --light-theme: 100%;
}

:root:has(input[type="checkbox"]#theme:checked){
  --dark-theme: 100%;
  --light-theme: 0%;
}

@media (prefers-color-scheme: dark){
  :root {
    --dark-theme:100%;
    --light-theme:0%;
  }
  :root:has(input[type="checkbox"]#theme:checked){
    --dark-theme: 0%;
    --light-theme: 100%;
  }
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}