@use 'includes' as *;

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--on-bg);
  transition: var(--transition);
  line-height: 1.6;
  font-family: var(--font-stack);
  font-size: 18px;
  margin: 0;
  padding: 2em;
  height: 100%;
  overflow-wrap: break-word;
}

h1,h2,h3 {
  margin-block-end: 0em;
}

a {
  color: var(--primary);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.h-card {
    color: inherit;
  }
}

.small {
  font-size: smaller
}

.muted {
  opacity: var(--mute-alpha);
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  &:last-child {
    margin-block-end: 0;
  }
}

.p-name, .p-nickname {
  color: var(--on-bg);
  text-shadow: 0 0 0.5em var(--primary-muted), 0 0 0.25em var(--white-glow);
}

.p-note {
  text-align: center;
}

article, .card {
  display: block;
  max-width: 42em;
  border-radius: 1em;
  margin: 3em auto;
  padding: 2em;
  background-color: var(--bg);
  background-image: var(--paper-texture-svg);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  box-shadow: 1px 2px 0.5em 1px var(--shadow);

  &>* {
    flex: 1;
    min-width: 17em;
    text-align: left;
  }
  
  &.main, &.glow {
    gap: 2em;
    flex-direction: row;
    align-items: center;

    &>*:first-child {
      text-align: center;
    }

    &::before, &::after {
      content: '';
      position: absolute;
      left: -2px;
      top: -2px;
      background: var(--neon-glow-gradient);
      background-size: 300%;
      width: calc(100% + 3px);
      height: calc(100% + 3px);
      z-index: -1;
      animation: glow 30s linear infinite;
      border-radius: 1em;
    }

    &::after {
      filter: blur(50px);
    }

    &>nav{
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        list-style: none;
        padding:0;
        
        li {
          display: flex;
          flex-direction: row;
          gap: 0.5em;
          align-items: center;

          &>i {
            min-width:20px;
          }
        }
      }
    }
  }
}

li[class^="fa-"] {
  list-style: none;
  margin-left:-40px;
}

li::before, h3::before {
  @include fontawesome-text;
}

hr {
  margin: 1.35em auto;
  width: 100%;
  color: var(--primary);
  border-image: linear-gradient(90deg,
    transparent, var(--primary) calc(50% - 1em),
    transparent calc(50% - 1em),
    transparent calc(50% + 1em),
    var(--primary) calc(50% + 1em),
    transparent 100%) 0 0 100%;
  &::after {
    content: 'Ω';
    display: inline-block;
    line-height: 0;
    width: 1em;
    text-align: center;
    position: absolute;
    left: calc(50% - 0.5em);
  }
}

span[title] {
  border-bottom: 1px dotted var(--on-bg-muted);
  cursor: help;

  &:hover::after {
    content: ' (' attr(title) ')';
    font-size: 0.8em;
    opacity: 50%;
  }
}

img.u-photo {
  border-radius: 50%;
  max-height: 200px;
  max-width: 200px;
  box-shadow: 0 0 1em 1px var(--primary-muted), 0 0 0.5em 1px var(--white-glow);
}

img.small-avatar {
  max-height: 40px;
}
